.customer-form {
    .customer-form-header {
        padding-left: 45%;
    }

    .customer-form-field {
        padding-left: 10%;
        width: 80%;
    }

    .customer-form-footer {
        padding-left: 27%;

        .customer-form-button {
            width: 50%;
        }
    }
}